<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="./node_modules/materialize-css/dist/css/materialize.css">
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">Logo</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">JavaScript</a></li>
            </ul>
        </div>
    </nav>
	<h1>Form</h1>
    <form action="#" th:action="@{/index}" th:object="${user}" method="post">
    	<p>Name: <input type="text" th:field="*{name}" /></p>
        <p>email-address: <input type="text" th:field="*{emailAddress}" /></p>
        <p>age: <input type="text" th:field="*{age}" /></p>
        <p>bodyType: <input type="text" th:field="*{bodyType}" /></p>
        <p>heightType: <input type="text" th:field="*{heightType}" /></p>
        <p>
            <input type="submit" value="Submit">
            <input type="reset" value="Reset" />
        </p>
    </form>
</body>
</html>