<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="./node_modules/materialize-css/dist/css/materialize.css">
</head>
<body>
  <p th:text="${user.name} + 'さん hello world'"/>

  <div class="card-panel teal lighten-2">This is a card panel with a teal lighten-2 class</div>


  <div class="card-panel">
    <span class="blue-text text-darken-2">This is a card panel with dark blue text</span>
  </div>

  <div class="card-panel">
    <span class="blue-text text-darken-2">This is a card panel with dark blue text</span>
  </div>
  

</body>
</html>