<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
      <meta charset="UTF-8">
      <title>お出かけを楽しくする</title>
      <link rel="stylesheet" type="text/css" href="./node_modules/materialize-css/dist/css/materialize.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/index" class="brand-logo center">spot kirumon</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a>スポットを見る</a></li>
          </ul>
      </div>
    </nav>

    <h3 class="brand-logo center">スポットを検索する</h3>

    <form action="#" th:action="@{/search}" th:object="${spot-type}" method="get">
      <label for="site-search">スポットを探す:</label>
      <input type="search" id="site-search" name="q" aria-label="Search through site content">
        <p th:text="${spots.name}"></p>
      <a class="waves-effect waves-light btn-small" type="submit">Search</a>
    </form>
  </body>
</html>