<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index page</title>
    <link rel="stylesheet" type="text/css" href="./node_modules/materialize-css/dist/css/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var userId = /*[[${userId}]]*/ '0';
        /*]]>*/

        var type = document.getElementsByName('spotType')

        $(document).ready(function () {

            $('#button').click(function (e) {
                var inputvalue = $("#input").val();
                $('button').click(function() {
                    var r = $('input[name="spotType"]:checked').val();
                    if (userId === '0' || userId === null) {
                        //  block of code to be executed if the condition is true
                        window.location.replace("http://localhost:8083/search?keyWord=" + inputvalue + "&spotType=" + r);
                    } else {
                        //  block of code to be executed if the condition is false
                        window.location.replace("http://localhost:8083/search?keyWord=" + inputvalue + "&spotType=" + r + "&userId=" + userId);
                    }
                })

            });
        });
    </script>


</head>
<body>
<nav>
    <div class="nav-wrapper">
        <img src="../images/logo.png" width="60">
        <a href="http://localhost:8080/index" class="brand-logo">SpotKirumon</a>
        <ul id="nav-mobile" class="right">
            <li><a>A place where you can find your weekend getaway</a></li>
            <li><a href="/sign_up">Sign Up</a></li>
        </ul>
    </div>
</nav>

<h4 class="brand-logo center"><font color="#f08080">Where do you want to go?</font></h4>

<div class="container">
    <div class="topnav">
        <input id="input" placeholder="二子玉川、 横浜、 ディズニーランド...">
        <form action="#">
            <p>
                <label>
                    <input name="spotType" type="radio" value="1"/>
                    <span>Restaurant</span>
                </label>
                <label>
                    <input name="spotType" type="radio" value="2"/>
                    <span>Solo Travelling</span>
                </label>
                <label>
                    <input name="spotType" type="radio" value="3"/>
                    <span>Sports</span>
                </label>
                <label>
                    <input name="spotType" type="radio" value="4"/>
                    <span>Amusement</span>
                </label>
                <label>
                    <input name="spotType" type="radio" value="5"/>
                    <span>Driving</span>
                </label>
                <label>
                    <input name="spotType" type="radio" value="6"/>
                    <span>Shopping</span>
                </label>
                <label>
                    <input name="spotType" type="radio" value="7"/>
                    <span>Girls Party</span>
                </label>
                <label>
                    <input name="spotType" type="radio" value="8"/>
                    <span>Date</span>
                </label>

                </label>
            </p>
        </form>
        <button class="waves-effect waves-light btn" type="button" id="button">search</button>
    </div>

</div>

</body>
</html>