<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>template</title>
        <link rel="stylesheet" href="./node_modules/materiali-css/dist/css/materialize.css" type="text/css">
        <link rel="stylesheet" href="./node_modules/materiali-css/dist/css/materialize.css" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
        <link rel="stylesheet" href="./spotdeatail.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/> 
        <script type="text/javascript" href="./example1.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
         
    </head>
    <body>
        <div class="container_1">
        <nav>
    		<div class="nav-wrapper">
        	<img src="../images/logo.png" width="60">
        	<a href="http://localhost:8080/index" class="brand-logo">SpotKirumon</a>
        	<ul id="nav-mobile" class="right">
            <li><a>A place where you can find your weekend getaway</a></li>
          </ul>
    	</div>
		</nav>

            <div class="main">
                <section  class="recomendspot">
                    <span th:each="spotimage : ${spot.images}">
                        <img class="spotimage" th:src="${spotimage}"/>
                    </span>
                </section>
                  <h2 class="spot_title" th:text=${spot.name}></h2>
                   <p class="spotdiscreption_back" th:text="${spot.description}">  </p>
                <!--  <p th:text="'Hello, ' + ${spotId} +${userid} '!'" />-->
                <section class="clothing_section">
    			   <div class="slider"> 
    			       
    			   		<img th:each="recommendcloth : ${recommendedCloth}" th:src="${recommendcloth.imglink}"/>
				 </div>
    			 <p class="clothimg"  th:each="recommendcloth : ${recommendedCloth}">
    				<img th:src="${recommendcloth.imglink}"/>
    			 </p>
    			 </section>
            </div>
            <footer>
                <p><strong>Copyright (C) Cosmos. All right reserved.</strong></p>
            </footer>
        </div>
        
    </body>